{% extends "base.html" %}

{% block title %}RN | Confirm Address{% endblock %}

{% block content %}
    <section id="address_Order" class = "container">
        <form id="orderForm">
            <h2>Enter your Address Details</h2>

            <p>Name</p>
            <input type="text" id="name" placeholder="Please Enter" required pattern="[A-Za-z ]{3,20}">

            <p>Contact Number</p>
            <input type="text" id="contact" placeholder="Please Enter" required pattern="[0-9]{11,12}">

            <p>House no. / Apartment no. / Building</p>
            <input type="text" id="house" placeholder="Please Enter" required>

            <p>Street Name</p>
            <input type="text" id="street" placeholder="Please Enter" required>

            <p>Block</p>
            <input type="text" id="block" placeholder="Please Enter" required>

            <p>Area</p>
            <input type="text" id="area" placeholder="Please Enter" required>

            <p>Landmark</p>
            <input type="text" id="landmark" placeholder="Please Enter">

            <p>City</p>
            <input type="text" placeholder="Karachi" disabled>
        </form>
        
        <div class = orderTable>
            <div class="confirmOrder">
                <table width = "50%">
                    <thead>
                        <tr>
                            <td>PRODUCT</td>
                            <td>QUANTITY</td>
                            <td>SUBTOTAL</td>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>

            <button class="dark" id="placeOrder">Place Order</button>
        </div>
    </section>

    <div id="loadingOverlay" class="loading-overlay" style="display: none;">
        <div class="loading-spinner"></div>
        <p>Processing your order...</p>
    </div>
{% endblock %}

{% block scripts %}
    <script src = "../static/address_OrderConfirm.js"></script>   
    <script src = "../static/script.js"></script> 
{% endblock %}