{% extends "base.html" %}

{% block title %}RN | Cart{% endblock %}

{% block content %}
    <section id = "cart" class = "container">
        <table width = "100%" class = "desktop-Cart">
            <thead>
                <tr>
                    <td>REMOVE</td>
                    <td>IMAGE</td>
                    <td>PRODUCT</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
                    <td>SUBTOTAL</td>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

        <div class = "tabMobile-Cart">
        </div>

        <button class = "dark">Checkout</button>
    </section>
{% endblock %}

{% block scripts %}
    <script src = "../static/script.js"></script>
    <script src = "../static/cart.js"></script>
{% endblock %}