{% extends "base.html" %}

{% block title %}RN | Cart{% endblock %}

{% block content %}
    <section id = "cart" class = "container">
        <table width = "100%" class = "desktop-Cart">
            <thead>
                <tr>
                    <td>REMOVE</td>
                    <td>IMAGE</td>
                    <td>PRODUCT</td>
                    <td>PRICE</td>
                    <td>QUANTITY</td>
                    <td>SUBTOTAL</td>
                </tr>
            </thead>

            <tbody>
            </tbody>
        </table>

        <div class = "tabMobile-Cart">
        </div>

        <button class = "dark">Checkout</button>
    </section>

    <section id = "newsletter" class = "container">
        <div class = "newsText">
            <h4>Sign up for our Newsletter!</h4>
            <p>Get Email updates about our latest products and <span>special offers</span></p>
        </div>

        <div class = "newsForm">
            <input type = "text" placeholder = "Your Email Address">
            <button>Sign up</button>
        </div>
    </section>

    <div class = "full-width-footer">
        <footer class = "container">
            <div class = "col">
                <img class = "logo" src = "../Images/ReyNoon Logo.jpg" alt = "" width="70px" height="70px">
                <h4>Contact</h4>
                <p><strong>Address:</strong> 562 Wellington Road, Street 32, San Francisco</p>
                <p><strong>Phone:</strong> +92 318 2696611</p>
                <p><strong>Hours:</strong> 10:00 - 18:00, Mon - Sat</p>
            </div>

            <div class = "follow">
                <h4>Follow Us</h4>
                <div class = "icon">
                    <a href = "https://www.instagram.com/rey.noon/" target = "_blank"><i class="fa-brands fa-instagram"></i></a>
                    <a href = ""><i class="fa-brands fa-facebook" target = "_blank"></i></a>
                </div>
            </div>

            <div class = "copyright">
                <p>Copyright @2025 <a href = "/"><u>RN Ltd.</u></a></p>
            </div>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
    <script src = "../static/script.js"></script>
    <script src = "../static/cart.js"></script>
{% endblock %}