{% extends "base.html" %}

{% block title %}RN | Product Page{% endblock %}

{% block content %}
    <section id="prodDetails" class="container">
        <div class="prodImage">
            <img id="mainImg" width="100%" alt="Product Image">
    
            <div class="imgGroup" id="smallImagesContainer">
                <!-- Small images will be added here dynamically -->
            </div>
        </div>
    
        <div class="prodText">
            <h4 id="productName"></h4>
            <span id="productCategory"></span>
            <h2 id="productPrice"></h2>
            <input type="number" value="1" min="1" id="quantity">
            <button class="dark">Add to Cart</button>
            <h4>Product Details</h4>
            <span id="productDescription"></span>
        </div>
    </section>

    <section id = "featuredProd" class = "container">
        <h2>Featured Products</h2>
        <div class = "prod-container">
            {% for product in products %}
                <div class = "prod" onclick = "viewProduct('{{ product.name }}', '{{ product.price }}', '{{ product.imageURL }}', ['{{ product.smallImg01 }}', '{{ product.smallImg02 }}', '{{ product.smallImg03 }}', '{{ product.smallImg04 }}'], '{{ product.description }}', '{{ product.category }}')">
                    <img src = "{{ product.imageURL }}" alt = "">
                    <div class = "desc">
                        <span>RN - {{product.category}}</span>
                        <h5>{{ product.name }}</h5>
                        <span>{{ product.description }}</span>
                        <h4>{{ product.price }}/- PKR</h4>
                    </div>
                    <button class = "dark">Add To Cart</button>
                </div>
            {% endfor %}
        </div>
    </section>
{% endblock %}

{% block scripts %}
    <script src = "../static/script.js"></script>
    <script src = "../static/product.js"></script>
    <script src = "../static/shop.js"></script>
{% endblock %}